
@boxWidth: 49px;
@boxHeight: 33px;
@boxMargin: 1px;

@fontSize: 18px;
@fontWeight: 100;
@fontFamily: Helvetica, Arial; 

@boxTitleForeColour: #fff;
@boxTitleBackColour: #000;

@boxDayForeColour: #000;
@boxDayForeColourHover: #fff;

@boxDayBackColour: #eee;
@boxDayBackColourHover: #dcdcdc;

@boxCurrentDayBackColour: #399afe;
@boxWeekendBackColour: #ccc;

@import "mvcalendar.less";

