[submodule "libs/jquery.scrollTo"]
	path = libs/jquery.scrollTo
	url = https://github.com/flesler/jquery.scrollTo.git
[submodule "libs/tipsy"]
	path = libs/tipsy
	url = https://github.com/jaz303/tipsy.git
